.button-block {
  display: flex;
  box-sizing: border-box;
  width: 280px;
  height: 100px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 1px dashed #e8575b;
  border-radius: 10px;
}

.button__label {
  font-family: "Segoe UI Historic", serif;
  font-size: 1.2em;
  font-weight: 600;
  color: #482f02;
}