#root {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  padding: 30px 10px 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.description {
  display: flex;
  width: 100%;
  max-width: 900px;
  justify-content: center;
  align-items: center;
}

.description__text {
  font-size: 1.2em;
  font-family: "Segoe Script", sans-serif;
  color: #0d123b;
}

.container {
  display: flex;
  width: 400px;
  box-sizing: border-box;
  padding: 5px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  border: 2px solid #045e43;
  border-radius: 10px;
}